/* CSS reset / defaults - taken from https://dev.to/hankchizljaw/a-modern-css-reset-6p3 */

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* remove default margins */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list style from lists with css classes */
ul[class],
ol[class] {
    padding: 0;
    margin: 0;
    list-style: none;    
}

/* Make underline more readable for unstyled links (set explicitely for own styles) */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Fluid image style. Images should behave like blocks by default */
img {
    max-width: 100%;
    display: block;
}

/* Reset font settings on input elements */
input,
button,
textarea,
select {
    font-family: inherit;
}

/* Add margin-top of one line-height to all flow elements that have a preceding sibling */
.flow > * + * {
    margin-top: 1.5em;
}

/* colors and font styles */

:root {

    /* colors */
    --dark-blue: #1f2937;
    --light-blue: #3882f6;
    --light-grey: #e5e7eb;
    --off-white: #f9faf8;
    --placeholder-grey: #eee;
    
    --header-bg: var(--dark-blue);
    --header-col: var(--off-white);
    --hero-main-col: var(--off-white);
    --hero-secondary-col: var(--light-grey);
    --footer-bg: var(--dark-blue);
    --footer-col: --light-grey;
    --button-bg: var(--light-blue);
    --button-col: var(--off-white);
    --cta-bg: var(--light-blue);
    --cta-col: var(--off-white);
    --info-header-col: var(--dark-blue);
    --quote-bg: var(--light-grey);
    --quote-col: var(--dark-blue);
    --footer-bg: var(--dark-blue);
    --footer-col: var(--light-grey);
    --placeholder-bg: var(--placeholder-grey);
    --placeholder-col: var(--off-white);
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

.header-nav-row .logo {
    font-size: 24px;
    color: var(--header-col);
}

.hero .main-text {
    font-size: 48px;
    font-weight: bolder;
}

.hero .secondary-text {
    font-size: 18px;
    color: var(--hero-secondary-col);
}

.button {
    color: var(--button);
}

.cta {
    background-color: var(--cta-bg);
}

.info .header-text {
    font-size: 36px;
    font-weight: bolder;
    color: var(--info-header-col);
}

.quote {
    background-color: var(--quote-bg);
    color: var(--quote-col);
}

/* layout section */

header {
    background-color: var(--header-bg);
    color: var(--header-col);
}

.header-nav-row {
    width: 50em;
    margin: 0 auto;
    display: flex;
    align-items: baseline;
}

.header-nav-row .logo {
    flex: 1;
}

.header-nav-row .main-nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    gap: 16px;
}

.header-nav-row .main-nav li {
    list-style-type: none;
}

.header-nav-row .main-nav a {
    color: var(--header-col);
    text-decoration: none;
    padding: 8px;
}

.header-nav-row .main-nav a:hover {
    background: var(--header-col);
    color: var(--header-bg);
}


