/* CSS reset / defaults - taken from https://dev.to/hankchizljaw/a-modern-css-reset-6p3 */

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* remove default margins */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list style from lists with css classes */
ul[class],
ol[class] {
    padding: 0;
    margin: 0;
    list-style: none;    
}

/* Make underline more readable for unstyled links (set explicitely for own styles) */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Fluid image style. Images should behave like blocks by default */
img {
    max-width: 100%;
    display: block;
}

/* Reset font settings on input elements */
input,
button,
textarea,
select {
    font-family: inherit;
}

/* Add margin-top of one line-height to all flow elements that have a preceding sibling */
.flow > * + * {
    margin-top: 1.5em;
}

/* colors and font styles */

:root {

    /* colors */
    --dark-blue: #1f2937;
    --highlight-blue: #529cff;
    --light-blue: #3882f6;
    --light-grey: #e5e7eb;
    --off-white: #f9faf8;
    --placeholder-grey: #6c737c;
    --blue-grey: #4b5563;
    
    --header-bg: var(--dark-blue);
    --header-col: var(--off-white);
    --hero-main-col: var(--off-white);
    --hero-secondary-col: var(--light-grey);
    --footer-bg: var(--dark-blue);
    --footer-col: --light-grey;
    --button-bg: var(--light-blue);
    --button-col: var(--off-white);
    --button-highlight-bg: var(--highlight-blue);
    --cta-bg: var(--light-blue);
    --cta-col: var(--off-white);
    --info-header-col: var(--dark-blue);
    --info-text-col: var(--blue-grey);
    --quote-bg: var(--light-grey);
    --quote-col: var(--dark-blue);
    --footer-bg: var(--dark-blue);
    --footer-col: var(--light-grey);
    --placeholder-bg: var(--placeholder-grey);
    --placeholder-col: var(--off-white);
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

.header-nav-row .logo {
    font-size: 24px;
    color: var(--header-col);
}

.cta {
    background-color: var(--cta-bg);
}

/* layout section */

body {
    display: flex;
    flex-direction: column;
}

header {
    background-color: var(--header-bg);
    color: var(--header-col);
}

section.hero {
    width: 60em;
    margin: 0 auto;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer.site-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--footer-bg);
    color: var(--footer-col);
    height: 5em;
}

.header-nav-row {
    width: 60em;
    margin: 0 auto;
    display: flex;
    align-items: baseline;
}

.header-nav-row .logo {
    flex: 1;
}

.header-nav-row .main-nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    gap: 16px;
}

.header-nav-row .main-nav li {
    list-style-type: none;
}

.header-nav-row .main-nav a {
    color: var(--header-col);
    text-decoration: none;
    padding: 8px;
}

.header-nav-row .main-nav a:hover {
    background: var(--header-col);
    color: var(--header-bg);
}

.hero {
    display: flex;
    height: 30em;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.hero .hero-callout {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 256px;
    gap: 12px;
}

.hero .hero-callout p {
    font-size: 18px;
    color: var(--hero-secondary-col);
}

.hero .hero-callout button {
    background-color: var(--button-bg);
    color: var(--button-col);
    font-size: 18px;
    font-weight: bolder;
    padding: 8px 32px;
    border-radius: 8px;
    border: none;
}

.hero .hero-callout button:hover {
    background-color:  var(--button-highlight-bg);
}


.hero h2 {
    font-size: 48px;
    font-weight: bolder;
    line-height: 1.2;
}

.hero .placeholder-image {
    width: 512px;
    height: 256px;
    background: var(--placeholder-bg);
    color: var(--placeholder-col);
    flex: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-section {
    height: 30em;
    width: 60em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info-section h2 {
    font-size: 36px;
    font-weight: 900;
    color: var(--info-header-col);
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.illustrations {
    display: flex;
    justify-content: center;
    gap: 64px;
}

.illustration-container {
    flex: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 168px;
}

.illustration-container .illustration {
    width: 168px;
    height: 168px;
    border: 4px solid var(--button-bg);
    border-radius: 16px;
}

.illustration-container p {
    text-align: center;
    color: var(--info-text-col);
}

.testimonial {
    height: 30em;
    width: 100%;
    background: var(--quote-bg);
    color: var(--quote-col);
    display: flex;
    justify-content: center;
}

.testimonial blockquote {
    width: 60em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.testimonial blockquote p {
    font-family: Helvetica, "Arial Narrow", Arial, sans-serif;
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
}

.testimonial blockquote footer {
    width: 100%;
    text-align: right;
    font-size: 24px;
    font-weight: 700;
}
